@font-face {
	font-family: "Poppins";
	src: url("Poppins-ExtraBold.ttf") format("truetype");
	font-weight: bold;
  }
  @font-face {
	font-family: "Poppins";
	src: url("Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
  }
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  html {
	scroll-behavior: smooth;
  }
  body {
	font-family: Poppins;
	font-weight: normal;
	font-size: 100%;
	text-align: center;
	background-color: #e4fbff;
  }
  header {
	width: 100%;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: space-between;
	background-color: #7868e6;
	position: fixed;
	z-index: 12;
  }
  header img{
	position: relative;
	width: 60px;
}

  section {
	width: 100%;
	height: 100%;
	/* float: left; */
	padding-top: 90px;
	padding-bottom: -90px;
	position: relative;
	/* border-style: solid;
	border-color: #1b1b1b; */
  }
  h1 {
	font-size: 4vw;
	font-family: Poppins;
	font-weight: bold;
	color: #3d3c3c;
  }
  p {
	font-size: 2vw;
	color: #1b1b1b;
	padding-left: 10vw;
	padding-right: 10vw;
  }

  #menu li {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
  }
  #menu li a {
	text-decoration: none;
	font-size: 16px;
	color: cornsilk;
  }
  #menu li a:hover {
	font-weight: bold;
	font-size: 20px;
  }
  .section #savta{
	  width: 20vw;
	  height: auto;
  }
  .container{
	width: 50%;
	top: 20px;
	height: auto;
	margin: auto;
	overflow: hidden;
	position: relative;
  }
  .container img{
	width: 100%;
	box-sizing: 100px;
	height: 200%;
  }
  .photo-slide{
	display: flex;
	width: 100%;
	height: 100%;
  }
  #prevBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 3%;
	font-size: 25px;
	color: aliceblue;
	opacity: 0.7;
	cursor: pointer;
  }
  #nextBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 3%;
	font-size: 25px;
	color: aliceblue;
	opacity: 0.7;
	cursor: pointer;
  } 
  .container #youtube {
	width: 100%;
	height: 30vw;
	position: relative;
	border:none;
	overflow:hidden;
  }
  .container #btnlike{
	width: 63%;
	height: 10vw;
	position: relative;
	border:none;
	overflow:hidden;
  }
  .container #qr{
	  width: 40%;
	  height: 15vw;
	  position: relative;
  }

  